h1{
    color: #2296C7;
    font: -size: 40px;
    font-family: Helvetica, 
     text-align: center; 
}

h2{
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: left; 
}

h3{
    font-family: Comic sans MS, cursive
}

p{
    font-weight 800;
    text-decoration: none;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-style: solid;
    border-color: #2695A6;
    
}



th{
    font-weight: 800;
    background-color: #2695A6;
    colour: #ffffff;    
}

tr.alt td{
    background-color: #9AEFFC;
}

ul{
    list-style-image: url('images/images/pointer-icon.png')
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Helvetical, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px; 
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}
